<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>A simple todolist with nodeJS</title>
  </head>
  <body>
    <h1>My todolist</h1>
    <ul>
    <% todolist.forEach(function(todo, index) { %>
        <li><a href="/todo/supprimer/<%= index %>">✘</a> <%= todo %></li>
    <% }); %>
    </ul>
    <form action="/todo/ajouter/" method="post">
        <p>
            <input type="text" name="newtodo" id="newtodo" placeholder="My task to add" autofocus />
            <input type="submit" />
        </p>
    </form>

  </body>
</html>
